.container {
  /* position and layout */
  @apply w-full relative h-[970px];
}

.container[data-variant="horizontal"] {
  /* box model (from outside in) */
  @apply h-auto;
}

.container[data-variant="cards"] {
  /* background */
  @apply bg-black;
}

@media only screen and (max-width: 1024px) {
  .container {
    background: linear-gradient(
      175deg,
      #000 4.29%,
      #3d8bff 47.39%,
      #ab23ff 95.05%
    );
    mix-blend-mode: soft-light;
  }
}

@media only screen and (max-width: 1024px) {
  .container[data-variant="horizontal"] {
    background: rgba(19, 23, 29, 1);
  }
}

.wrapper {
  /* position and layout */
  @apply absolute top-0 left-0;
  /* box model (from outside in) */
  @apply w-full h-full;

  /* image */
  @apply object-cover;
}

.content {
  /* position and layout */
  @apply absolute top-1/2 left-1/2;
  /* box model (from outside in) */
  @apply w-[95%] lg:w-[93%] 2xl:w-[80%] md:pr-0;

  /* transform */
  @apply transform -translate-x-1/2 -translate-y-1/2;

  /* typography */
  @apply text-white text-center;
}
