@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/Satoshi-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: "semibold";
  font-weight: 600;
  src: local(""), url("/fonts/Satoshi-Medium.woff2") format("woff");
}

@font-face {
  font-family: "Satoshi";
  font-style: "bold";
  font-weight: 700;
  src: local(""), url("/fonts/Satoshi-Bold.woff2") format("woff");
}

@font-face {
  font-family: "MonumentExtended";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/MonumentExtended-Regular.woff2") format("woff");
}

@layer utilities {
  .custom-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .border-main {
    @apply border-custom-main border-b;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-blue-500 to-purple-700 text-transparent bg-clip-text;
  }

  .section-container {
    @apply px-5 lg:px-10 2xl:px-40 py-16   bg-black;
  }

  .custom-border {
    @apply relative;
  }

  .custom-border::before {
    content: "";
    @apply absolute top-0 left-0 w-full h-[1px];
    background: var(--Linear, linear-gradient(90deg, #3d8bff, #ab23ff));
    z-index: -1;
  }

  .custom-border::after {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-[1px];
    background: var(--Linear, linear-gradient(90deg, #3d8bff, #ab23ff));
    z-index: -1;
  }
}

@layer base {
  h1 {
    @apply font-primary text-[32px] md:text-[44px] lg:text-[68px] text-white uppercase custom-shadow text-left leading-[110%];
  }

  h2 {
    @apply font-primary text-[32px] md:text-[44px] lg:text-[68px] text-white uppercase custom-shadow text-left leading-[110%];
  }

  h3 {
    @apply text-lg lg:text-[22px] font-bold font-secondary gradient-text text-left  pt-[7px] pb-3;
  }

  .sub-title {
    @apply font-primary text-[22px] sm:text-[28px] leading-[110%] uppercase;
  }

  p {
    @apply font-secondary text-base lg:text-lg text-white;
  }
}
