.link {
  /* display and visibility */
  @apply flex w-[110px] h-[38px] py-[9px] px-[23px] justify-center items-center rounded-md overflow-hidden relative;
  /* typography */
  @apply font-secondary text-base lg:text-lg text-white cursor-default;
}

.link[data-variant="outline"] {
  @apply border-2 border-white;
}
.link:hover {
  border: none;
}

.link[data-variant="fill"] {
  @apply flex w-full md:w-[231px] lg:w-[453px] py-5 px-14 rounded-md;
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #ab23ff 100%));
}

.link.next::after {
  content: attr(data-text);
  @apply absolute text-center w-full text-white top-[7px];
  transition: all 400ms;
}

.link.next[data-variant="outline"]::after {
  content: attr(data-text);
  @apply absolute text-center w-full text-white top-[2px];
  transition: all 400ms;
}

.link.next[data-variant="fill"]::before {
  background: var(--Linear, linear-gradient(90deg, #3d8bff 0%, #3d8bff 100%));
}

.link.next::before {
  @apply bg-blue-base absolute text-center h-full w-full text-white top-0;
  content: attr(data-text);
  transition: all 400ms;
}

.link.link.next:hover::after {
  top: -36px;
}

.link.next::before {
  content: attr(data-text);
  top: 40px;
  height: 100%;
}

.link.link.next:hover::before {
  top: 0px;
}
